<div class="jumbotron">
  <div class="title">Contacto</div> 
  <div class="subtitle">Estamos a tus órdenes, contáctanos!</div>
</div>

<div class="container-fluid">
	<div class="igsa">
		<figure>
			<img src="images/logo.png">
		</figure>
		<p>
			<strong>Servicio de Atención a Clientes (SAC)</strong> <br/>
			01 800 800 IGSA (4472) <br/>
﻿    		email: <a href="mailto:atencion.cliente﻿@﻿igsa.com.mx">atencion.cliente﻿@﻿igsa.com.mx</a> <br/>
		</p>
	</div>
	<div class="igsa">
		<figure>
			<img src="images/logo.png">
		</figure>
		<p>
			<strong>Jesús Velázquez</strong> <br/>
			<i>Ingeniero de Soporte T.I.</i> <br/>
			email: <a href="mailto:jesus.velazquez@igsa.com.mx">jesus.velazquez@igsa.com.mx</a> <br/>
		</p>
	</div>
	<div class="lanconta">
		<a href="http://www.lanconta.mx" target="_blank" title="Desarrollos Lanconta">Desarrollos Lanconta</a> S de RL de CV &copy; 2015
	</div>
</div>