<div class="jumbotron">
  <div class="title">Ayuda</div> 
  <div class="subtitle">Aquí encontrarás ayuda con respecto al Portal proveedores</div>
</div>

<div class="help">
	<h3>Centro de ayuda</h3>
	<p>
		En este lugar encontrarás algunos enlaces a documentos que serán de mucha ayuda para el buen uso y el máximo aprovechamiento que le puedes dar a este Portal de proveedores.
	</p>
	<p>
		Enlaces de ayuda:
		<ul>
			<li>
				<a href="manual.pdf">Tutorial</a>
			</li>
			<li>
				<a href="sistema.pdf">Acerca del sistema</a>
			</li>
			<li>
				<a href="facturas.pdf">Validación de facturas</a>
			</li>
		</ul>
	</p>
</div>