<div class="invoiceWrapper" ng-show="validInvoice">
	<h1>Detalles de la factura <span>{{invoice.folio}}</span></h1>
	<div class="options">
		<a href="{{invoice.xmlCFDI}}" target="_blank" class="imgXML">Descargar XML</a> | 
		<a href="{{invoice.pdfCFDI}}" target="_blank" class="imgXML">Descargar PDF</a>
	</div>

	<div class="containerRFC">
		<div class="emisor">
			<h3>Emisor</h3>
			<ul>
				<li class="fullName">{{invoice.emisor.fullName}}</li>
				<li>{{invoice.emisor.address}}</li>
				<li class="rfcI">RFC: <span>{{invoice.emisor.rfc}}</span></li>
				<li class="suplier">Proveedor No.: <span>{{invoice.emisor.suplierId}}</span></li>
			</ul>
		</div>
		<div class="receptor">
			<h3>Receptor</h3>
			<ul>
				<li class="fullName">{{invoice.receptor.fullName}}</li>
				<li>{{invoice.receptor.address}}</li>
				<li class="rfcI">RFC:<span>{{invoice.receptor.rfc}}</span></li>
			</ul>
		</div>
	</div>

	<div class="digital">
		<h3>Comprobante fiscal digital</h3>
		<ul>
			<li class="invoiceNumber">Factura: <span>{{invoice.digital.invoiceNumber}}</span></li>
			<li>Fecha: {{invoice.digital.date}}</li>
			<li>Tipo comprobante: {{invoice.digital.type}}</li>
			<li>Certificado emisor: {{invoice.digital.certificate}}</li>
			<li>UUID: {{invoice.digital.uuid}}</li>
			<li>Certificado SAT: {{invoice.digital.sat}}</li>
			<li>Fecha certificación: {{invoice.digital.certificateDate}}</li>
		</ul>
	</div>

	<div class="invoice">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Descripción</th>
					<th>Cantidad</th>
					<th>UM</th>
					<th>Precio</th>
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="inv in invoice.invoice.data">
					<td>{{$index+1}}</td>
					<td>{{inv.description}}</td>
					<td class="center">{{inv.quantity}}</td>
					<td class="center">{{inv.um}}</td>
					<td class="right">{{inv.price | currency }}</td>
					<td class="right">{{inv.total | currency}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="right">Subtotal</td>
					<td class="right">{{invoice.invoice.subtotal | currency}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="right">IVA</td>
					<td class="right">{{invoice.invoice.iva | currency}}</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td class="right">Total</td>
					<td class="right">{{invoice.invoice.subtotal | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="order">
		<h3>Pedido</h3>
		{{inv.order}}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Número</th>
					<th>Posición</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{invoice.order.number}}</td>
					<td>{{invoice.order.position}}</td>
					<td>{{invoice.order.quantity}}</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
<div class="" ng-show="!validInvoice">
	<div class="alert alert-warning">
  		<strong>Factura incorrecta!</strong> Imposible obtener los datos de la factura
	</div>
</div>