<div class="jumbotron">
  <div class="title">Bienvenido !</div> 
  <div class="subtitle">&nbsp;</div>
</div>

<div class="welcome">
    <h2>Portal proveedores</h2>
    <p>
        Nuestro portal esta orientado a brindarte herramientas de colaboración que fortalezcan nuestra relación comercial. Disfrútalo !
    </p>

    <carousel interval="myCarousel.interval" no-wrap="myCarousel.noWrapSlides">
      <slide ng-repeat="slide in myCarousel.slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!--<h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>-->
        </div>
      </slide>
    </carousel>
</div>

<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Convenio para el uso del portal proveedores</h3>
        </div>
        <div class="modal-body">
            <p>
            Convenio que celebran por una parte IGSA S.A de C.V. a quienes se denominará <strong> IGSA </strong> y por la otra parte el respectivo Proveedor a quién se denominará indistintamente <strong> Proveedor </strong>, para el uso por parte de estos últimos del canal de comunicación denominado <strong> Portal Proveedores </strong>, mismo que es propieda de IGSA para las operaciones comerciales entre el <strong> Proveedor </strong> e <strong> IGSA </strong> tales como pedidos, estatus de facturas; con lo cual se espera mejorar el intercambio información por medios electrónicos de forma interactiva.  
            </p>
            <h3>Aceptación</h3>
            <p>
              Al ingresar y utilizar este Portal Proveedores, propiedad de IGSA, el usuario acepta los Términos y Condiciones de Uso contenidos en este convenio y declara expresamente su aceptación utilizando para tal efecto medios electrónicos, en términos de lo dispuesto por el artículo 1803 y demás relativos del Código Civil Federal. 
              <br/>

              En caso de no aceptar en forma absoluta y completa los términos y condiciones de este convenio, el usuario deberá abstenerse de acceder, utilizar y observar el Portal Proveedores.
              <br/>
              Y en caso de que el usuario acceda, utilice y observe el Portal Proveedores se considerará como una absoluta y expresa aceptación de los Términos y Condiciones de Uso aquí estipulados.
              <br/>
              La sola utilización de dicha página de Internet le otorga al público en general la condición de usuario (en adelante referido como el “usuario” o los “usuarios”) e implica la aceptación, plena e incondicional de todas y cada una de las condiciones generales y particulares incluidas en estos Términos y Condiciones de Uso publicados por IGSA en el momento mismo en que el usuario acceda al portal Web.
              <br/>
              Cualquier modificación a los presentes Términos y Condiciones de Uso será realizada cuando el titular de la misma, en este caso IGSA, lo considere apropiado, siendo exclusiva responsabilidad del usuario asegurarse de tomar conocimiento de tales modificaciones.
            </p>
            <h3>Licencia</h3>
            <p>
              Por virtud de la celebración de este convenio, DPORTENIS otorga y concede al usuario el derecho no exclusivo, revocable y no transferible de ver y utilizar el Portal Proveedores de conformidad con los Términos y Condiciones de Uso estipulados. Para efectos del presente convenio, las partes acuerdan que por “Usuario” se entenderá a cualquier persona de cualquier naturaleza que ingrese al Portal Proveedores y/o a cualquiera de las subpáginas que despliegan su contenido y/o a la persona de cualquier naturaleza que se dé de alta y/o use cualquiera de los servicios que se ofrecen a través de dicha página.
              El usuario sólo podrá imprimir y/o copiar cualquier información contenida o publicada en el Portal Proveedores exclusivamente para uso personal, por lo que queda expresa y terminantemente prohibido el uso comercial de dicha información. En caso de ser persona moral se sujetará a lo dispuesto por el artículo 148, fracción IV de la Ley Federal del Derecho de Autor.
              La reimpresión, publicación, distribución, asignación, sublicencia, venta, reproducción electrónica o por otro medio, parcial o total, de cualquier información, documento o gráfico que aparezca en el Portal Proveedores, para cualquier uso distinto al personal no comercial le está expresamente prohibido al usuario, a menos de que cuente con la autorización previa y por escrito de IGSA.
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Acepto</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">NO Acepto</button>
        </div>
</script>
